.hero {
    height: 100vh; 
    background-image: url('../images/hero1.avif');
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-2 {
    height: 100vh; 
    background-image: url('../images/hero2.png');
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.filter-btn.active {
    background-color: #0d6efd;
    color: white;
  }
  
  
  .step-circle {
    width: 40px;
    height: 40px;
    border: 2px solid #b30000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 0 auto 10px;
    color: #b30000;
  }
  
  
  .steps-row {
    position: relative;
  }
  
  .steps-row::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 5%;
    width: 90%;
    height: 2px;
    background: #c2c2c2;
    z-index: -1;
  }
    
  .exhibition-card img {
    height: 200px;
    object-fit: cover;
  }
  
  .exhibition-card .learn-link {
    color: #003366;
    font-weight: 600;
    text-decoration: none;
  }
  
  .exhibition-card .learn-link:hover {
    text-decoration: underline;
  }

  .rounded-circle {
    width: 120px;       
  height: 120px;      
  object-fit: cover;  
  border-radius: 50%; 
  border: 3px solid #fff;
  }

  .big-btn {
    padding: 40px 30px;
    border-radius: 12px;
    font-size: 1.5rem;
    font-family: Georgia, serif; /* to match serif style */
    text-decoration: none;
    display: block;
  }
  
  .blue-btn {
    background: #1f4fb8;
    color: white;
  }
  
  .blue-btn .arrow {
    font-size: 2rem;
    margin-left: 20px;
  }
  
  .yellow-btn {
    background: #f2c512;
    color: black;
  }
  
  .yellow-btn hr {
    border: 1px solid black;
    width: 60%;
    margin: 0 auto;
  }
  